In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import os.path as path

In [3]:
df_train = pd.read_csv(path.join('1_rawdata', 'application_train.csv'))
df_test = pd.read_csv(path.join("1_rawdata", "application_test.csv"))

In [4]:
# concat before dummies
df = pd.concat([df_train, df_test], axis="index")

# easy data preparation by dropping all nulls
df = df.dropna(axis='index')

In [7]:
df.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
71,0.0,Cash loans,M,Y,Y,0,103500.0,573628.5,24435.0,463500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
124,0.0,Cash loans,F,Y,Y,1,202500.0,260725.5,16789.5,198000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
152,0.0,Cash loans,F,Y,N,0,202500.0,675000.0,53329.5,675000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
161,0.0,Cash loans,M,Y,N,0,162000.0,263686.5,24781.5,238500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
255,1.0,Cash loans,M,Y,N,1,225000.0,1019205.0,31032.0,774000.0,...,1,0,0,0,0.0,0.0,0.0,6.0,0.0,1.0

In [6]:
df.drop('SK_ID_CURR', inplace=True, axis="columns") # Drop the ID

In [8]:
# getting y
df_y = pd.DataFrame(df.TARGET)

In [9]:
# getting X
df.drop(df[['TARGET']], axis="columns",inplace=True)
df_X = pd.get_dummies(df)

In [10]:
# verifying shapes
print("df_X : ", df_X.shape, "\ndf_y : ", df_y.shape)

df_X :  (8602, 233)
df_y :  (8602, 1)

In [11]:
# store x and y
df_X.to_csv(path.join("2_dataprep", "prep_train_X.csv"), index=False)
df_y.to_csv(path.join("2_dataprep", "prep_train_y.csv"), index=False)